
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-danger">
                <canvas id="myChart"></canvas>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</div>

</div>
<!-- /page content -->
