<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <br/>
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @*<img src="images/img.jpg" alt="">*@
                        @ViewBag.UserFullName
                        <span class=" fa fa-angle-down"></span>
                    </a>
                </li>

                <li>
                    @Html.ActionLink("Log out", "Logout", "Account")
                </li>
                <li>
                    @Html.ActionLink("Upload Historical Data", "UploadInvoices", "Debtors", null, new {@class = "btn btn-success btn-upload", id="picBtn-upload", style="color:#FFFFFF;"})
                </li>
                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">

                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
<style>
    .btn-upload, #picBtn-upload {
        color: #fff!important;
        font-size: 14px;
        font-weight: bolder;
    }
</style>